<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>EZ.GG Experimental</title>
    </head>

    <body class="bg-[#000A13] h-screen">
        <!-- Navbar -->
        <div class="flex flex-col">
            <div class="h-0.5 bg-gradient-to-r from-yellow-600 via-yellow-500 to-yellow-600"></div>
            <nav class="bg-[#000A13] text-gray-300 p-2 flex justify-between items-center">
                <div class="text-sm font-semibold text-[#CBBC8F]">EZ.GG</div>
                <div class="flex space-x-5 items-center">
                    <button id="minimizeButton" class="text-gray-400 hover:text-[#CBBC8F] focus:outline-none transition-colors duration-200">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-minus"><path d="M5 12h14"></path></svg>
                    </button>
                    <button class="text-gray-400 hover:text-[#CBBC8F] focus:outline-none transition-colors duration-200">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-settings"><path d="M12.22 2h-.44a2 2 0 0 0-2 2v.18a2 2 0 0 1-1 1.73l-.43.25a2 2 0 0 1-2 0l-.15-.08a2 2 0 0 0-2.73.73l-.22.38a2 2 0 0 0 .73 2.73l.15.1a2 2 0 0 1 1 1.72v.51a2 2 0 0 1-1 1.74l-.15.09a2 2 0 0 0-.73 2.73l.22.38a2 2 0 0 0 2.73.73l.15-.08a2 2 0 0 1 2 0l.43.25a2 2 0 0 1 1 1.73V20a2 2 0 0 0 2 2h.44a2 2 0 0 0 2-2v-.18a2 2 0 0 1 1-1.73l.43-.25a2 2 0 0 1 2 0l.15.08a2 2 0 0 0 2.73-.73l.22-.39a2 2 0 0 0-.73-2.73l-.15-.08a2 2 0 0 1-1-1.74v-.5a2 2 0 0 1 1-1.74l.15-.09a2 2 0 0 0 .73-2.73l-.22-.38a2 2 0 0 0-2.73-.73l-.15.08a2 2 0 0 1-2 0l-.43-.25a2 2 0 0 1-1-1.73V4a2 2 0 0 0-2-2z"></path><circle cx="12" cy="12" r="3"></circle></svg>
                    </button>
                    <button id="exitButton" class="text-gray-400 hover:text-[#CBBC8F] focus:outline-none transition-colors duration-200">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-x"><path d="M18 6 6 18"></path><path d="m6 6 12 12"></path></svg>
                    </button>
                </div>
            </nav>
        </div>

        <div class="border-b border-gray-700">
            <nav class="mx-auto flex max-w-7xl items-center justify-around lg:px-8 pt-px pb-5">
                <div class="flex gap-x-20 text-[#CBBC8F]">
                    <a href="#" class="text-sm font-bold leading-6">HOME</a>
                    <a href="#" class="text-sm font-bold leading-6">AUTOPILOT</a>
                    <a href="#" class="text-sm font-bold leading-6">INT LIST</a>
                </div>
            </nav>
        </div>

        <!-- Bottom Bar -->
        <div class="fixed bottom-0 left-0 w-full flex flex-col">
            <!-- Queue Status -->
            <div class="flex w-full justify-around bg-gray-900">
                <p class="text-gray-300 text-sm">Idle</p>
            </div>
            <!-- Real Bottom Bar -->
            <div class="flex w-full items-center justify-between space-x-6 p-4 border-t border-gray-700">
                {% if profile %}
                    <div class="relative w-12 h-12">
                        <!-- Background Circle -->
                        <div class="absolute inset-0 rounded-full bg-[#010a13]"></div>
                        
                        <!-- Progress Indicator -->
                        <svg class="absolute -inset-1 w-[calc(100%+0.5rem)] h-[calc(100%+0.5rem)]" viewBox="0 0 36 36">
                            <!-- Outer Outline Circle -->
                            <circle cx="18" cy="18" r="17" stroke="currentColor" stroke-width="0.5" fill="none" class="text-[#c89b3c]" />
                            <!-- Progress Circle -->
                            <circle cx="18" cy="18" r="16" stroke="currentColor" stroke-width="2" fill="none" class="text-blue-200" 
                                    stroke-dasharray="100" stroke-dashoffset="{{ 100 - profile['percentCompleteForNextLevel'] }}" pathLength="100" transform="rotate(90 18 18)"></circle>
                            <!-- Inner Outline Circle -->
                            <circle cx="18" cy="18" r="15" stroke="currentColor" stroke-width="0.5" fill="none" class="text-[#c89b3c]" />
                        </svg>
                        
                        <!-- Profile Image -->
                        <img src="https://ddragon.leagueoflegends.com/cdn/14.17.1/img/profileicon/{{ profile['profileIconId'] }}.png" alt="Profile" class="absolute inset-0 w-[94%] h-[94%] m-auto rounded-full object-cover z-10">
                        
                        <!-- Level Indicator -->
                        <div class="absolute -bottom-0.5 left-1/2 transform -translate-x-1/2 bg-[#010a13] text-[#c89b3c] px-1 py-px rounded-full text-[0.8rem] leading-none font-bold border border-[#c89b3c] z-20">
                            {{ profile['summonerLevel'] }}
                        </div>
                    </div>
                    <div class="flex-1 truncate">
                        <h3 class="truncate text-sm font-medium text-white">{{ profile['gameName'] }}#{{ profile['tagLine'] }}</h3>
                        <p class="mt-1 truncate text-sm text-gray-400">{{ profile['displayName'] }} | {{ profile['accountId'] }}</p>
                    </div>
                {% endif %}
                <div class="w-px"><p>&nbsp;</p></div>
                <div>
                    <p class="text-sm text-gray-500">Experimental</p>
                </div>
            </div>
        </div>

        <!-- Page Content -->
        {% block content %}{% endblock %}
    </body>

    <script>
        // Base Script
        document.getElementById('exitButton').addEventListener('click', function() {
            fetch('/exit', { method: 'POST' })
                .then(() => console.log('Exit request sent'))
                .catch(error => console.error('Error:', error));
        });
        document.getElementById('minimizeButton').addEventListener('click', function() {
            fetch('/minimize', { method: 'POST' })
                .then(() => console.log('Minimize request sent'))
                .catch(error => console.error('Error:', error));
        });
    </script>
    <!-- Page Scripts -->
    {% block postscripts %}{% endblock %}
</html>