{% if in_party %}
    <ul role="list" class="divide-y divide-gray-800 mx-5">
        {% for member in lobby_members['players'].values() %}
            <li class="flex justify-between gap-x-6 py-3">
                <div class="flex min-w-0 gap-x-4">
                    <img class="h-12 w-12 flex-none rounded-full bg-gray-800"
                        src="https://ddragon.leagueoflegends.com/cdn/14.17.1/img/profileicon/{{ member['icon_id'] }}.png"
                        alt="">
                    <div class="min-w-0 flex-auto">
                        <p class="text-sm font-semibold leading-6 text-white">{{ member['gameName'] }}#{{ member['tagLine'] }}</p>
                        <p class="mt-1 truncate text-xs leading-5 text-gray-400">{{ member['displayName'] }} | {{ member['summonerId'] }}</p>
                    </div>
                </div>
                <div class="shrink-0 flex flex-col items-end">
                    <p class="text-sm leading-6 text-gray-400">{{ member['role'] }}</p>
                </div>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <div class="flex w-full justify-around my-5">
        <p class="text-sm text-gray-500">Not in a party</p>
    </div>
{% endif %}