blinker==1.8.2
bottle==0.13.1
cffi==1.17.1
click==8.1.7
clr-loader==0.2.6
colorama==0.4.6
Flask==3.0.3
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
proxy_tools==0.1.0
pycparser==2.22
pythonnet==3.0.3
pywebview==5.2
setuptools==72.1.0
typing_extensions==4.12.2
Werkzeug==3.0.4
wheel==0.43.0
