aiohttp==3.13.3
aiosignal
attrs
beautifulsoup4==4.14.3
bottle==0.13.4
bottle-websocket==0.2.9
certifi==2026.2.25
cffi==1.17.1
charset-normalizer==3.4.6
Eel==0.18.2
frozenlist==1.8.0
gevent==25.9.1
gevent-websocket==0.10.1
greenlet==3.3.2
idna
lxml==6.0.2
multidict==6.7.1
psutil==7.2.2
pycparser==3.0
pyparsing==3.3.2
requests==2.33.0
six==1.17.0
soupsieve
urllib3==2.6.3
webencodings==0.5.1
whichcraft==0.6.1
wincertstore==0.2
yarl==1.23.0
zope.event==6.1
zope.interface==8.2
